        <section class="section">
          <div class="section-header">
            <h1>Statisztikák</h1>
          </div>
          <div class="section-body">
            <!-- <h2 class="section-title">Alcím</h2>
            <p class="section-lead">Leírás.</p> -->
            <div class="card">
              <!-- <div class="card-header">
                <h4>Fej</h4>
              </div> -->
              <div class="card-body">
              	<!-- </p> -->
              	<iframe src="https://stats.<?php echo $this->request->env("HTTP_HOST") ?>/public/dashboard/eec87f8e-b285-412a-9adb-7260902a4959" frameborder="0" width="100%" height="600" allowtransparency></iframe>
              <!-- </p> -->
              </div>
              <!-- <div class="card-footer bg-whitesmoke">
                Láb
              </div> -->
            </div>
          </div>
        </section>