        <section class="section">
          <div class="section-header">
            <h1>Információ önkénteseknek</h1>
          </div>
          <div class="section-body">
            <h2 class="section-title">Tudnivalók</h2>
            <div class="card">
                <!-- <div class="card-header">
                <h4>Fej</h4>
                </div> -->
                <p>Az önkénteseknek szóló infókért <a href="https://docs.google.com/document/d/e/2PACX-1vR7ZLYdTX7W9nB7P1uy_5gWsdC-9tcdEwspwzn-sbxYzTeRn9YagAFkEOBupoWGyYbnU-mRLm_oGYvr/pub">kattintson ide</a></p>
            </div>
          </div>
        </section>
        <script>
            window.location.href="https://docs.google.com/document/d/e/2PACX-1vR7ZLYdTX7W9nB7P1uy_5gWsdC-9tcdEwspwzn-sbxYzTeRn9YagAFkEOBupoWGyYbnU-mRLm_oGYvr/pub"
        </script>        
